[Unit]
Description=hardware button monitor and action doer
Documentation=https://github.com/2pair/button-controller/

[Service]
Type=simple
ExecStart=/opt/button-interface/hwbuttond.py -p 26 -f /opt/button-interface/config.txt -a start
ExecStop=/opt/button-interface/hwbuttond.py -p 26 -a stop

[Install]
WantedBy=multi-user.target